<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blogs</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex align-center p-2">
      <h1>
        Tech Blogs
      </h1>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
             <li><a href="/profile">Dashboard</a></li>
        {{#if logged_in}}
        <li><button class="no-button" id="logout">logout</button></li>
        {{else}}
       <li> <a href="/login">login</a></li>
        {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
   <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>
