<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="blog-container">
        <h2>{{blog.title}}</h2>
        <p>{{blog.content}}</p>
    </div>
</div>
{{/each}}
