
  
  <main>
    <h2>Blog Posts</h2>
    <ul>
      {{#each blogs}}
      <li>
        <a href="/blog/{{id}}">{{title}}</a>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
      </li>
      {{/each}}
    </ul>
  </main>
