<div class="row createAccountContainer">
  <div class="col-md-6">
    <h2 class="createAccountTitle">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        {{!-- <label for="email-login">email:</label> --}}
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
        {{!-- <label for="password-login">password:</label> --}}
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      
     <nav class="form-group">
        <a href="/signup">Create Account</a>
      </nav>

    </form>
  </div>

<script src="./js/login.js"></script>
