 <div class="row createAccountContainer">

 <div class="col-md-6">
    <h2 class="createAccountTitle">Create Account</h2>

    <form class="form signup-form">
      <div class="form-group">
        {{!-- <label for="name-signup">Username:</label> --}}
        <input class="form-input" type="text" id="Username-signup"  placeholder="Username"/>
      </div>
       <div class="form-group">
        {{!-- <label for="name-signup">Email:</label> --}}
        <input class="form-input" type="text" id="Email-signup"  placeholder="Email"/>
      </div>
      <div class="form-group">
        {{!-- <label for="name-signup">First Name:</label> --}}
        <input class="form-input" type="text" id="First-signup"  placeholder="First Name"/>
      </div>
      <div class="form-group">
        {{!-- <label for="name-signup">Last Name:</label> --}}
        <input class="form-input" type="text" id="Last-signup"  placeholder="Last Name"/>
      </div>
       <div class="form-group">
        {{!-- <label for="name-signup">Address Name:</label> --}}
        <input class="form-input" type="text" id="Address-signup"  placeholder="Address"/>
      </div>
         <div class="form-group">
        {{!-- <label for="name-signup">Phone Number:</label> --}}
        <input class="form-input" type="text" id="Phone-signup"  placeholder="Phone Number"/>
      </div>
      <div class="form-group">
        {{!-- <label for="password-signup">password:</label> --}}
        <input class="form-input" type="password" id="password-signup"  placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>

       <nav  class="form-group">
        <a href="/login">Already have an account?</a>
      </nav>
    </form>
  </div>
</div>
  </div>


<script src="./js/signup.js"></script>
